doctype html 
html
    head
        title Teacher Finder
        link(rel="stylesheet", href="/css/style.css")
        script(src="/JS/JavaScript.js" defer='')
    header 
        .GridLayout
            .header1
                //- img.Logo1(src="/photos/cap.png", alt="cap log",width="35px")
                //- figcaption   MyLesson

            nav#nav
                //- a.btn(href='http://localhost:3001/Login') Login   
                //- a.btn(href='http://localhost:3000/register')  Register
             
    block content