extends layout 

block content
    head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TeacherFinder  
    //- link(rel='stylesheet' href='../static/css/style.css')
    //- script(defer='' src='../static/JavaScript.js')
    body.body
    .mainGrid 
      header
        .container
          h2.company
            | Welcome &#x1F591;
      #form1.form
        #form_container.form_container
          #title_book.title_container
            h1
              img.logo(src="/Photos/book.png")
              |  TeacherFinder &copy;
          .row.clearfix
            form(action='/Login' name='login' onsubmit='return validateLogin()' method='post' type='submit')
              div
                input.input(type='email' name='email' placeholder='Email' required='')
              div
                input#password.input(type='password' name='password' placeholder='Password' required='')
                br
              input#checkboxP(type='checkbox' style='width: 15px; vertical-align: bottom; text-align: center;\
              *overflow: hidden;' onclick='ShowPassfunction()')
              label.Show(style='color: white;') Show Password
              br
              div
                button.ButtonSignup(formaction='Signup')
                  span.button__text
                  a(style='color: #fcfcfc' href='Signup') Sign Up
                button.ButtonLogin(onclick ='/Login' method="post")
                  span.button__text Log In
              br
              br
              img.teacher(src='/Photos/teacher.png')