extends layout 

block content
    head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TeacherFinder
    body.body
    .mainGrid
        nav
            ul
            img.logo1(src='../Photos/logo1.png')
            h4#1  TeacherFinder &copy;
            a(href='HomePage')  Home&hearts;
            a(href='SearchTeachers') Search&#x2611; 
            a(href='Login') Logout&raquo;
        #form1.form
            #form_container.form_container
            #title_book.title_container
                b &#x1F8A7; Rate My Teachers &#x1F8A6;
                ol
                li.rate(<div='')
                    input#star5(type='radio' name='rate' value='5')
                    label(for='star5' title='text') 5 stars
                    input#star4(type='radio' name='rate' value='4')
                    label(for='star4' title='text') 4 stars
                    input#star3(type='radio' name='rate' value='3')
                    label(for='star3' title='text') 3 stars
                    input#star2(type='radio' name='rate' value='2')
                    label(for='star2' title='text') 2 stars
                    input#star1(type='radio' name='rate' value='1')
                    label(for='star1' title='text') 1 star
                    div
                    p Ofra Manzur
                    br
                    |                                  (History, Haifa, 170&#x20AA;, 3 Exp, 4.5 AR, 0507654321)
                    br
                    br
                    button.ButtonLogin(formaction='HomePage.html')
                    span.button__text Remove &#x274C;
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                li.rate1(<div='')
                    input#star10(type='radio' name='rate1' value='5')
                    label(for='star10' title='text') 5 stars
                    input#star9(type='radio' name='rate1' value='4')
                    label(for='star9' title='text') 4 stars
                    input#star8(type='radio' name='rate1' value='3')
                    label(for='star8' title='text') 3 stars
                    input#star7(type='radio' name='rate1' value='2')
                    label(for='star7' title='text') 2 stars
                    input#star6(type='radio' name='rate1' value='1')
                    label(for='star6' title='text') 1 star
                    div
                    p Hana Leon
                    br
                    |                                  (Math, Tel Aviv, 120&#x20AA;, 7 Exp, 4.2 AR, 0501234567)
                    br
                    br
                    button.ButtonLogin(formaction='HomePage')
                    span.button__text Remove &#x274C;
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                li.rate2(<div='')
                    input#star15(type='radio' name='rate2' value='5')
                    label(for='star15' title='text') 5 stars
                    input#star14(type='radio' name='rate2' value='4')
                    label(for='star14' title='text') 4 stars
                    input#star13(type='radio' name='rate2' value='3')
                    label(for='star13' title='text') 3 stars
                    input#star12(type='radio' name='rate2' value='2')
                    label(for='star12' title='text') 2 stars
                    input#star11(type='radio' name='rate2' value='1')
                    label(for='star11' title='text') 1 star
                    div
                    p Racheli Asayag
                    br
                    |                                  (Physics, Eilat, 100&#x20AA;, 5 Exp, 4.4 AR, 0501231234)
                    br
                    br
                    button.ButtonLogin(formaction='HomePage.html')
                    span.button__text Remove &#x274C;
                br
                br
                br
                br
            .row.clearfix
                br
                br
                br
                br
                br
                br
                form(action='SearchResults.html')
                button.ButtonChoose(type='submit' formaction='HomePage.html')
                    | Update Rate &#x2B50;
