<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFinder</title>
    <link rel='stylesheet' href='style.css'>
</head>
<body class="body">
    <div class="mainGrid">
      <nav>
        <ul>
        <img src="logo1.png" class="logo1">
            <h4 id="1"> TeacherFinder ©</h4>
             <a href="Login.html">Login❀</a>
             <a href="Signup.html">Back⮌</a>
        </ul>
      </nav>
        <div class="form" id="form1">
            <div class="form_container" id="form_container">
                <div class="title_container" id="title_book">
                    <b>Choose Your Profile</b>
                </div>
              <div class="flex-container">
                <div> <img src="student.png" class="student">
                     <form action="ChooseProfile.html">
                            <button type="submit" class="ButtonChoose" formaction="CreateStudent.html"> Student
                            </button>
                     </form>
                </div>
                <div> <img src="teacher1.png" class="teacher1">
                    <form action="ChooseProfile.html">
                            <button type="submit" class="ButtonChoose" formaction="CreateTeacher.html"> Teacher
                            </button>
                     </form>
                               </div>
                            </div>
                           <div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>