<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFinder</title>
    <link rel='stylesheet' href='style.css'>
</head>
<body class="body">
    <div class="mainGrid">
      <nav>
        <ul>
        <img src="logo1.png" class="logo1">
            <h4 id="1"> TeacherFinder ©</h4>
          <h5> Hello, Yoav </h5>
          <a href="Login.html">Logout»</a>
        </ul>
      </nav>
        <div class="form" id="form1">
            <div class="form_container" id="form_container">
                <div class="title_container" id="title_book"> <br>
                    <b>Options Menu</b>
                </div>
                <div class="row clearfix">
                    <form class="login">
                        <div>
                            <button class="ButtonMenu" formaction="SearchTeacher.html">
                                Find My Teacher
                            </button>
                        </div>
                      <div>
                            <button class="ButtonMenu" formaction="signup.html">
                                Edit Profile
                            </button>
                        </div>
                      <div>
                            <button class="ButtonMenu" formaction="MyTeachers.html">
                                Rate My Teachers
                            </button>
                        </div>
                        <div>
                        </div> <br>
                        <img src="homepage.png" class="homepage">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>