<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFinder</title>
    <link rel='stylesheet' href='style.css'>
</head>
<body class="body">
    <div class="mainGrid">
      <nav>
        <ul>
        <img src="logo1.png" class="logo1">
            <h4 id="1"> TeacherFinder ©</h4>
             <a href="HomePage.html"> Home♥</a>
             <a href="SearchTeacher.html">Search☑ </a>
             <a href="Login.html">Logout»</a>
        </ul>
      </nav>
        <div class="form" id="form1">
            <div class="form_container" id="form_container">
                <div class="title_container" id="title_book">
                    <b>Rate My Teachers</b>
                    <ol>
                              <li
                                 <div class="rate">
                                 <input type="radio" id="star5" name="rate" value="5" />
                                 <label for="star5" title="text">5 stars</label>
                                 <input type="radio" id="star4" name="rate" value="4" />
                                 <label for="star4" title="text">4 stars</label>
                                 <input type="radio" id="star3" name="rate" value="3" />
                                 <label for="star3" title="text">3 stars</label>
                                 <input type="radio" id="star2" name="rate" value="2" />
                                 <label for="star2" title="text">2 stars</label>
                                 <input type="radio" id="star1" name="rate" value="1" />
                                 <label for="star1" title="text">1 star</label>
                            <div> <p>Ofra Manzur</p>
                                <br>
                                 (History, Haifa, 170₪, 3 Exp, 4.5 AR, 0507654321)
                            </div>
                        </li> <br><br><br><br><br><br><br>
                                           <li
                                 <div class="rate1">
                                 <input type="radio" id="star10" name="rate1" value="5" />
                                 <label for="star10" title="text">5 stars</label>
                                 <input type="radio" id="star9" name="rate1" value="4" />
                                 <label for="star9" title="text">4 stars</label>
                                 <input type="radio" id="star8" name="rate1" value="3" />
                                 <label for="star8" title="text">3 stars</label>
                                 <input type="radio" id="star7" name="rate1" value="2" />
                                 <label for="star7" title="text">2 stars</label>
                                 <input type="radio" id="star6" name="rate1" value="1" />
                                 <label for="star6" title="text">1 star</label>
                            <div> <p>Hana Leon</p>
                                <br>
                                 (Math, Tel Aviv, 120₪, 7 Exp, 4.2 AR, 0501234567)
                            </div>
                        </li> <br><br><br><br><br><br><br>
                                           <li
                                 <div class="rate2">
                                 <input type="radio" id="star15" name="rate2" value="5" />
                                 <label for="star15" title="text">5 stars</label>
                                 <input type="radio" id="star14" name="rate2" value="4" />
                                 <label for="star14" title="text">4 stars</label>
                                 <input type="radio" id="star13" name="rate2" value="3" />
                                 <label for="star13" title="text">3 stars</label>
                                 <input type="radio" id="star12" name="rate2" value="2" />
                                 <label for="star12" title="text">2 stars</label>
                                 <input type="radio" id="star11" name="rate2" value="1" />
                                 <label for="star11" title="text">1 star</label>
                            <div> <p>Racheli Asayag</p>
                                <br>
                                 (Physics, Eilat, 100₪, 5 Exp, 4.4 AR, 0501231234)
                            </div>
                    </ol>
                    <br><br><br><br>
                </div>
                <div class="row clearfix"> <br> <br> <br>
                            <form action="SearchResults.html">
                                  <button type="submit" class="ButtonChoose" formaction="HomePage.html"> Update Rate
                                  </button>
                              </form>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>