<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFinder</title>
    <link rel='stylesheet' href='style.css'>
</head>
<body class="body">
    <div class="mainGrid">
      <nav>
        <ul>
        <img src="logo1.png" class="logo1">
            <h4 id="1"> TeacherFinder ©</h4>
             <a href="HomePage.html">Home♥</a>
             <a href="SearchTeacher.html">Search☑</a>
             <a href="MyTeachers.html">MyTeachers★</a>
             <a href="Login.html">Logout»</a>
        </ul>
      </nav>
        <div class="form" id="form1">
            <div class="form_container" id="form_container">
                <div class="title_container" id="title_book">
                    <b>Search Results</b>
                </div>
              <div class="flex-containerSearch">
                <div> <l>
                      <li><b>Full Name:</b> Israel Israeli </li>
                      <li><b>Subject:</b> Math </li>
                      <li><b>City:</b> Haifa</li>
                      <li><b>Price per hour:</b> 120₪</li>
                      <li><b>Years of experience:</b> 7</li>
                      <li><b>Average Rank:</b> 4.2</li>
                      <li><b>Phone number:</b> 0501234567</li>
                      <button class="ButtonLogin">
                                Add to my Teachers
                            </button>
                      </l>
                </div>
                <div> <l>
                      <li><b>Full Name:</b> Avi Cohen </li>
                      <li><b>Subject:</b> History </li>
                      <li><b>City:</b> Beer Sheva</li>
                      <li><b>Price per hour:</b> 100₪</li>
                      <li><b>Years of experience:</b> 3</li>
                      <li><b>Average Rank:</b> 3.5</li>
                      <li><b>Phone number:</b> 0507654321</li>
                      <button class="ButtonLogin">
                                Add to my Teachers
                            </button>
                      </l>
                </div>
              </div>
                        <div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>